# Ignore Python cache
**/__pycache__/
*.pyc

# Ignore system files
.DS_Store
__MACOSX/

# Ignore temporary or zip files
*.zip

# Ignore environment folders (if any)
venv/
ENV/
env/

# Ignore any other temporary folders outside project
flaskapp/